<h1>Усі користувачі</h1>

<% @users.each do |user| %>
  <div style="display: flex; align-items: center; justify-content: space-between; gap: 15px; margin: 10px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
    <%= user.username %>

    <div style="display: flex; align-items: center; gap: 10px;">
      <% if current_user.followees.include?(user) %>
        <%= button_to "Відписатися", unfollow_path(user), method: :delete %>
      <% else %>
        <%= button_to "Підписатися", follow_path(user), method: :post %>
      <% end %>

      <%= link_to "Написати", chat_path(user) %>
    </div>
  </div>
<% end %>
